.salvage-extension-selected{
    background-color: rgb(211,211,211) !important;
}

.salvage-extension-selected a{
    background-color: rgb(211,211,211) !important;
}

.salvage-extension-iframe{
    background-color: #f7f7f7;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 128px;
    right: 0px;
    z-index: 9000000000000000000;
    border: none;

}

.salvage-extension-iframe-off{
    width: 0px;
}

@media only screen and (max-width: 1280px){
    .salvage-extension-iframe-on{
        width: 0px;
    }    
}

@media only screen and (min-width: 1280px){
    .salvage-extension-iframe-on{
        width: -webkit-calc(397px - 205px);
        width: calc(397px - 205px);
    }    
}

/* at viewport > 1490 px middle content section of ebay stops expanding (middle content width of ~1093px).
    Take advantage of the free space on the right side.*/
@media only screen and (min-width: 1490px){
    .salvage-extension-iframe-on{
        width: -webkit-calc((100% - 1108px)/2);
        width: calc((100% - 1108px)/2);
    }    
}

