.salvage-extension-selected{
    background-color: rgb(211,211,211) !important;
}

.salvage-extension-selected a{
    background-color: rgb(211,211,211) !important;
}

/*Making the sticky iframe*/
.salvage-extension-iframe{
    background-color: lightgray;
    overflow: hidden;

    height: 100%;
    position: fixed;
    top: 128px;
    right: 0px;
    z-index: 9000000000000000000;
    border: none;

}

.salvage-extension-iframe-off{
    width: 0px;
}

.salvage-extension-iframe-on{
    width: 292px;
}
